@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

*





body{
    background-color: rgb(83, 13, 13);
    color: rgb(84, 7, 119);
    font-family: "Eagle Lake", serif;
} 
.cabecalho{
    background-color: rgb(119, 0, 0);
    text-align: center;
    padding: 30px;
}