@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Eagle+Lake&display=swap');







body{
    background-color: rgb(138, 54, 54);
    color: black;
    font-family: "Castoro Titling", serif;
} 
.cabecalho{
    background-color: rgb(119, 0, 0);
    text-align: center;
    padding: 30px;
}